.Footer-container{
    width: 100%;
    background-color:  rgb(241, 241, 241);;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2%;
}
.Footer-container img{
    margin-bottom: 1%;
}